.cardImg{
    height: 150px;
    width: 100%;
}
.cardImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cardTextFit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}